@charset "utf-8";


::-webkit-scrollbar {
    display:none;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    font-family: 'GmarketSans';
    font-weight:300;


}

ul li, ol li {
    list-style:none;
}

a {
    text-decoration:none;
    color:black;
}

img {
    vertical-align:top;
}

button{
    cursor: pointer;
    border:none;
}

hr{
    border:0;
}
